.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  padding-top: 8em;
  padding-bottom: 10em;
  img {
    width: 20%;
    min-width: 10em;
    object-fit: contain;
    margin-right: 4em;
  }
  div {
    max-width: 480px;
  }
}