.work {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 245, 245);
  .work-intro {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    width: 100%;
    p {
      max-width: unset;
    }
  }
  article {
    position: relative;
    width: calc(100%/3);
    overflow: hidden;
    embed {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      text-align: center;
      height: 100%;
      padding-right: 2em;
      padding-left: 2em;
    }
    div:hover {
      background-color: rgba(0, 0, 0, 0.40);
      transition: background-color 100ms linear;
      opacity: 1;
    }
  }
}