<html>
    <h1 class="c7" id="h.lfffnwkixvgy"><span class="c11">Menddie.com</span></h1>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">Founded together with Henri K&auml;m&auml;r&auml;inen late 2019, Meddie started.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">The first prototype was a one-pager with pre-determined prices and no platform functionalities to choose between service-providers.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">In order to further develop Menddie a a clear platform service for different kinds of needs, Elias Ojala joined us as a developer to create Ruby On Rails Application first based on the existingin prototype, and later with more and more back-office functionalities.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <h2 class="c6" id="h.3tk400rznmz5"><span class="c10">Key features the platform included:</span></h2>
    <ul class="c8 lst-kix_zeje2wpd4971-0 start">
        <li class="c1 c3 li-bullet-0"><span class="c0">Service providers listings with additional options </span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">Smart categorisation for repair-jobs</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">Quote asking system between customers and service providers</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">Cart and checkout experience</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">Immediate delivery code after purchase</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">Service provider feedback and ratings</span></li>
    </ul>
    <p class="c1 c2"><span class="c0"></span></p>
    <h3 class="c5" id="h.e17c9rer5pbq"><span class="c4">Pre-priced repairs:</span></h3>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">The first and arguably the more important feature of the online buying experience. The very first challenge in listing repair prices was the way they need to be categorized. The solution was structured in the same way as a discussion with a tailor.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <ol class="c8 lst-kix_8ca8zvgiuxnn-0 start" start="1">
        <li class="c1 c3 li-bullet-0"><span class="c0">What is it that you have?</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">What&#39;s broken with it?</span></li>
        <li class="c1 c3 li-bullet-0"><span class="c0">How do you want it to be fixed?</span></li>
    </ol>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">The first iteration of the platform did not have options for different repairs but that part later became the point where customers could choose between different service providers.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <h3 class="c5" id="h.qt58yuqw29a9"><span class="c4">Asking for a quote.</span></h3>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">Originally developed to gain information about what is missing from the listings, free way to ask for quotes from the service providers proved to be an excellent way for more unique repair jobs out there.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">Customers would simply leave a request and in the time span of three days they would get offers to their emails with a direct link to gon and purchase too offered repair.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c0">The system was streamline a couple limitations.</span></p>
    <p class="c1"><span class="c0">Customers couldn&rsquo;t ask for a direct price but they had an option to determine a price range of either less than 50&euro; or less than 100&euro; inorder to give service providers and idea of the price sensitivity of the customer</span></p>
    <p class="c1"><span class="c0">Later, the maximum amount of quotes per request was reduced to three, so as to not bother service providers.</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
</html>