<h2>Bio</h2>
<p>
  I'm Leevi Vahvelainen and I study design in Aalto university. 
  My focus is in industrial, service and strategic design for the design process itself.
</p>
<p>
  As a designer, I seek to, understand user experiences and actions to create fluent 
  usability in easily understandable form. For me, design starts from the base purpose 
  witch I keep in mind to come up with holistic solutions. I always consider the implementation 
  of manufacturing methods to strategy and practical arrangements. I believe flexible plans 
  will carry out most successfully. 
  Aesthetically, I believe elegant and identifiable forms are the most sustainable ones, 
  unless when the purpose is to stand-out.
</p>