<img src="static/media/bio.jpg">
<div>
  <h2>Bio</h2>
  <p>
    I'm Leevi Vahvelainen and I like to solve problems with purpose in mind. Call it industrial design, philosophy, creativity, or hacking, I call it problem-solving.
  </p>
  <p>
    I'm a designer who combines purpose and usability with technical implementation. With the design, users’ needs come first with the goal of finding simple and creative solutions. But no design is useful if it’s not delivered properly, working with the technical execution is also what I find very meaningful.
  </p>
  <p>
    I've done projects from art to building businesses and my core strength is the capacity to consider many aspects and learn new skills required quickly. I believe flexible plans will carry out most successfully. I believe elegance and quality to be the key to sustainable designs.
  </p>
</div>




