<section class='intro'>
  <h1>Leevi Vahvelainen</h1>
  <p class='subtitle'>Designer</p>
  <p>
    At the age of four, I used my first knife to strip a piece of wood and gave it to my grandpa to stun fish with. 
    That was the first product I build and I wouldn't yet know it was going to be what I do for my life's work.
  </p>
  <p>
    Designing solutions and building them is what I do and what I've always done and what I enjoy doing. 
    Welcome to take a look at some of that work of mine.
  </p>
</section>

<section class='work' include-html='/static/views/Work-dash.html'></section>
<section class='bio' include-html='/static/views/Bio.html'></section>
<section class='history' include-html='/static/views/History.html'></section>