<section class="intro">
  <h1>Leevi Vahvelainen</h1>
  <p class="subtitle">Designer</p>
  <p>
    Four years old me who carved a new fish club for his grandpa could 
    not foresee the challenges and projects I later encountered and I 
    believe I will never stop marvel the opportunities that life throws at me.
  </p>
  <p>
    My lifelong interest in designing better solutions has finally got me to a point 
    where I can do interesting projects for my life's work.
  </p>
</section>

<section class="work" include-html="/static/views/Work-dash.html"></section>
<section class="bio" include-html="/static/views/Bio.html"></section>
<section class="history" include-html="/static/views/History.html"></section>