<div class='history-intro'>
  <h2>History</h2>
  <p>
    Here is what I've done before in life
  </p>
</div>

<article>
  <h3>Founding and leading startup named Menddie.com</h3>
  <p class="years">2020-2021</p>
  <p>
    Could I really build something of my own if I wanted? Based on a course-work, I founded a repair service platform company. 
    We build a team, and a product and were able to rise 100K€ funding from Finnish angel investors. 
    We did get buch of very lovely customers but sadly, the business side weren't that succesfull I decided to return to study.
  </p>
  <p>
    I learned so much about building digital services and entrepreneurship that I can proudly say it was a two years well spend.
  </p>
</article>

<article>
  <h3>Summer intership at Design Foundation Finland</h3>
  <p class="years">2019</p>
  <p>
    I applied for a intership with Design Foundation to get some first hand experience from consulting and industrial design.
  </p>
  <p>
    The summer icluded a few pre-desided projects from clients like Valmet and Arava, executed by five summer interns. 
    There I got a very good first touch onto how to work with client projects, manage process and deliver results.
  </p>
</article>

<article>
  <h3>Design studies at Aalto University</h3>
  <p class="years">2017-</p>
  <p>
    I'm currently studying my bachelotr degree in design at Aalto University. 
    It is here where I got to known the variety of possibilities with design activity 
    and deepened my interest towards the subject.
  </p>
  <p>
    I have been active in community with different student associations like 
    Aalto entrepreneurship society and the student organisation of the department of design.
  </p>
</article>

<article>
  <h3>Carpentry jobs & Military service</h3>
  <p class="years">2015 - 2017</p>
  <p>
    Even though I received a study place in aalto in 2015, my obligatory military service 
    in 2016 forced me to lay back my studies for few years. I used my time in between doing 
    carpenter jobs from furniture to renovating for city of Helsinki. I mostly did small 
    orders for specific needs in schools and daycare centers where I had the freedom to plan 
    my own work.
  </p>
  <p>
    During the military service I ended up in leader training in reserve officer school (RUK) 
    and onward to train the next batch of leaders. Here I found interest towards the 
    fundamentals of leading people.
  </p>
</article>

<article>
  <h3>Wood artisan degree</h3>
  <p class="years">2012 - 2015</p>
  <p>
    When I was younger my interest towards crafts got me to study woodworking. 
    Besides crafts, the degree included product design basics and learning to consider efficient manufacturing. 
    It was here where I interested about product development and decided to apply into Aalto 
    University to study design.
  </p>
</article>
