<div class='work-intro'>
  <h2>Here are some of my awesome projects</h2>
  <p>
    Latest entry 2020
  </p>
</div>

<a href='/work#9' class='square' load-article='/static/works/Menddie.json'></a>
<a href='/work#8' class='square' load-article='/static/works/Valmet.json'></a>
<a href='/work#7' class='square' load-article='/static/works/Robot-rabbit.json'></a>
<article class='square' style='background-color: palegoldenrod;'></article>
<a href='/work#6' class='square' load-article='/static/works/Course-collector.json'></a>
<a href='/work#5' class='square' load-article='/static/works/Cafeteria.json'></a>
<a href='/work#4' class='square' load-article='/static/works/Water-purifier.json'></a>
<a href='/work#3' class='square' load-article='/static/works/Dash2018.json'></a>
<a href='/work#2' class='square' load-article='/static/works/Tape-applicator.json'></a>
<a href='/work#1' class='square' load-article='/static/works/Lustre.json'></a>
<a href='/work#0' class='square' load-article='/static/works/Chest-of-drawers.json'></a>
<article class='square' style='background-color: lightcyan'></article>