<div class="work-intro">
  <h2>Here will be my awesome projects</h2>
  <p>
    Presented in cool manner
  </p>
</div>

<article class="square" load-article="/static/works/Robot-rabbit.json"></article>
<article class="square" load-article="/static/works/Course-collector.json"></article>
<article class="square" load-article="/static/works/Cafeteria.json"></article>
<article class="square" load-article="/static/works/Water-purifier.json"></article>
<article class="square" load-article="/static/works/Dash2018.json"></article>
<article class="square" load-article="/static/works/Tape-applicator.json"></article>
<article class="square" load-article="/static/works/Lustre.json"></article>
<article class="square" load-article="/static/works/Chest-of-drawers.json"></article>