<div class="work-intro">
  <h2>Here are some of my awesome projects</h2>
  <p>
    Latest entry 2018
  </p>
</div>

<article class="square" load-article="/static/works/Robot-rabbit.json"></article>
<article class="square" load-article="/static/works/Course-collector.json"></article>
<article class="square" load-article="/static/works/Cafeteria.json"></article>
<article class="square" load-article="/static/works/Water-purifier.json"></article>
<article class="square" load-article="/static/works/Dash2018.json"></article>
<article class="square" load-article="/static/works/Tape-applicator.json"></article>
<article class="square" load-article="/static/works/Lustre.json"></article>
<article class="square" load-article="/static/works/Chest-of-drawers.json"></article>